img{
    filter: grayscale(1);
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid #000000;
}

.borderless-image{
    border: none;
}

.indented-image{
    filter: grayscale(1);
    display: block;
    width: 75%;
    height: auto;
    margin: auto;
    border: 1px solid #000000;
}

.logo{
    filter: none;
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    /*
    aspect-ratio: 1/1;
    object-fit: cover;
    */
}

::selection{
    /*color: red;*/
    background-color: rgb(255, 0, 0);
}

.banner{
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    justify-content: space-between;
}

.article-banner{
    margin: auto;
    width: 25%;
    display: flex;
    justify-content: space-around;
}

body{
    margin: 0px;
}

article{
    width: 35%;
    margin: auto;
    justify-content: center;
}

h2{
    text-align: center;
}
h3{
    text-align: center;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: red;
}
a::selection{
    color: white;
    background-color: red;
}

h4{
    display: inline-block;
    text-align: center;
    font-size: 14px;
}

p{
    text-align: justify;
}

.Modal-Window{
    z-index: 5;
    position: fixed;
    margin: auto;
    justify-self: center;
    background-color: white;
    border: 2px solid #000000;
    display: block;
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 40%;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:xx-large;
}

.full-page-blur{
    position:fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}